.page-wrapper {
  cursor: pointer;

  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  justify-content: start;
  gap: 16px;
}

.icon-fill {
  color: #1e62e7;
}

.icon-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: min-content;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  background: #ebecee;
  border-radius: 6px;
}

.sign {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 8px;
  color: black;
}
